* {
  background-color: rgb(93, 219, 177);
  font-family: cursive;
}

.heading {
  font-weight: 800;
  font-size: 43px;
  color: rgb(14, 143, 143);
  padding-left: 30%;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: rgb(197, 218, 221);
}

#user-input {
  font-size: 25px;
  margin-top: 5.2rem;
  margin-left: 35%;
  background-color: rgb(128, 128, 128);
}

#output-btn {
  font-size: larger;
  margin-top: 3rem;
  margin-left: 38%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: rgb(48, 107, 107);
}

#output {
  font-size: xx-large;
  margin-top: 4em;
  padding-left: 5em;
  background-color: chartreuse;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
